services:
  web:
    image: 307946642170.dkr.ecr.eu-north-1.amazonaws.com/social-media-backend:latest
    command: gunicorn backend.wsgi:application --bind 0.0.0.0:8000
    environment:
      DEBUG: False
      SECRET_KEY: ${SECRET_KEY}
      ALLOWED_HOSTS: ${ALLOWED_HOSTS}
      CSRF_TRUSTED_ORIGINS: ${CSRF_TRUSTED_ORIGINS}
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_HOST: db
      POSTGRES_PORT: 5432
    depends_on:
      - db
    expose:
      - 8000
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles

  nginx:
    image: nginx:latest
    ports:
      - "9001:80"  # map host port to nginx
    depends_on:
      - web
    volumes:
      - static_volume:/app/staticfiles
      - media_volume:/app/mediafiles
      - ./nginx.conf:/etc/nginx/conf.d/default.conf:ro

  db:
    image: postgres:14
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  static_volume:
  media_volume:
  postgres_data:
