name: Deploy to Production

on:
  push:
    branches: ["master"]

permissions:
  id-token: write
  contents: read

jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4

            - name: Configure AWS credentials (OIDC)
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::${{secrets.ACCOUNT_ID}}:role/${{secrets.OIDC_ROLE_NAME}}
                aws-region: ${{secrets.AWS_REGION}}
            
            - name: Login to Amazon ECR
              run: |
                aws ecr get-login-password --region ${{secrets.AWS_REGION}} \
                | docker login --username AWS --password-stdin ${{secrets.ACCOUNT_ID}}.dkr.ecr.${{secrets.AWS_REGION}}.amazonaws.com
                
            - name: Build and push Docker image
              run: |
                IMAGE_URI=${{secrets.ACCOUNT_ID}}.dkr.ecr.${{secrets.AWS_REGION}}.amazonaws.com/social-media-backend
                TAG=${GITHUB_SHA::7}

                docker build -t $IMAGE_URI:$TAG .
                docker push $IMAGE_URI:$TAG
    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: Configure AWS credentials (OIDC)
              uses: aws-actions/configure-aws-credentials@v4
              with:
                role-to-assume: arn:aws:iam::${{secrets.ACCOUNT_ID}}:role/${{secrets.OIDC_ROLE_NAME}}
                aws-region: ${{secrets.AWS_REGION}}
            

            - name: Deploy via SSM
              run: |
                COMMAND_ID=$(aws ssm send-command \
                  --document-name "AWS-RunShellScript" \
                  --targets "Key=instanceIds,Values=${{secrets.INSTANCE_ID}}" \
                  --parameters 'commands=["/home/ubuntu/app/deploy.sh"]' \
                  --query "Command.CommandId" \
                  --output text)

                aws ssm wait command-executed \
                  --command-id $COMMAND_ID \
                  --instance-id ${{secrets.INSTANCE_ID}}
