name: CI - Build and Push to ECR
on:
    push:
        branches: [ "master" ]
jobs:
    build:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Configure AWS credentials
              uses: aws-actions/configure-aws-credentials@v4
              with:
                aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
                aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
                aws-region: ${{ secrets.AWS_REGION }}

            - name: Login to Amazon ECR
              uses: aws-actions/amazon-ecr-login@v2
        
            - name: Build and push Docker image
              run: |
                IMAGE_URI=307946642170.dkr.ecr.eu-north-1.amazonaws.com/social-media-backend
                docker build -t $IMAGE_URI:latest .
                docker push $IMAGE_URI:latest

    deploy:
        needs: build
        runs-on: ubuntu-latest
        steps:
            - name: SSH into EC2 and deploy
              uses: appleboy/ssh-action@v1.0.3
              with:
                host: ${{ secrets.EC2_HOST }}
                username: ${{ secrets.EC2_USER }}
                key: ${{ secrets.EC2_SSH_KEY }}
                script: |
                    cd /home/ubuntu/app
                    ./deploy.sh